* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}

nav {
    margin-left: 150px;
    margin-top: 40px;
    display: flex;
    align-items: center;
    box-shadow: 0 0px 20px rgba(0, 0, 0, 0.06);
    z-index: 999;
    position: sticky;
    top: 0;
    left: 0;
}

nav h1 {
    width: 1000;
    color: #222;
    padding-bottom: 25px;
    font-weight: bolder;
}

nav ul {
    margin-left: 210px;
}

nav ul li {
    display: inline-block;
    margin-left: 40px;
    padding-bottom: 25px;
    cursor: pointer;
}

.icons { 
    margin-left: 200px;
    font-size: 20px;
    padding-bottom: 25px;
    cursor: pointer;
}

#hero {
    background-image: url("bg.png");
    height: 90vh;
    width: 100%;
    background-size: cover;
    background-position: top 25% right 0;
    padding: 80px 80px;
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    justify-content: center;
}

#hero h1 {
    font-size: 70px;
    line-height: 64px;
    color: #222;
    font-style:normal;
    padding: 0 60px;
    font-weight: bolder;
}

#hero p {
    font-size: 14px;
    color: #465b52;
    margin: 15px 0 20px 0;
    padding: 0 65px;
}

#hero button {
    margin-top: 10px;
    margin-left: 60px;
    background-color: black;
    color: white;
    width: 150px;
    height: 40px;
    cursor: pointer;
}